<h2>Create a new Coffee</h2>
<%= form_for @something do |f| %>
  <%= f.label :blend_name, 'Blend Name' %>
  <%= f.text_field :blend_name, placeholder: "Columbian" %>
  <br>
  <%= f.label :origin %>
  <%= f.text_field :origin, placeholder: "Columbian" %>
  <br>

  <%= f.label :notes %>
  <%= f.text_field :notes, placeholder: "Columbian" %>
  <br>

  <%= f.label :strength %>
  <%= f.number_field :strength, placeholder: "1-5" %>
  <br>
  <%= f.label :customer_name %>
  <%= f.text_field :customer_name, placeholder: "Anthony" %>

  <%= f.submit %>
<% end %>
